#about {
  color: black;
  height: 93vh;
  border-top: 0px;
  padding-top: 3rem;

  @include respond(tab-land) {
  }

  .about-content {
    margin-top: 5rem;
    height: 38vh;

    @media only screen and (max-width: 577px) {
      height: auto;
    }
    @media only screen and (max-width: 991px) {
      height: auto;
    }

    &__info {
      display: flex;
      height: 100%;
      flex-direction: column;

      @include respond(phone) {
        align-items: center;
      }

      &-text {
        text-align: left;
        margin-bottom: 4rem;

        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: left;
          padding: 0 2rem;
        }
        @include respond(phone) {
          font-size: 1.5rem;
          text-align: left;
          padding: 0 2rem;
        }

        @include respond(tab-land) {
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}
