.footer-wrapper {
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  will-change: transform;
  width: 100%;

  transform: translate3d(0px, 45vh, 0px);

  @media only screen and (max-width: 577px) {
    display: none;
  }
  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.wave-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.wave-container {
  position: relative;
  height: 100%;

  path {
    animation: 20s linear 0s infinite alternate none running wave;
  }
}

.svg-wave {
  color: #395c7e;
  fill: currentcolor;
  width: 100%;
  height: 40vh;
}

@keyframes wave {
  0% {
    d: path('M 0 100 Q 250 50 400 200 Q 550 350 800 300 L 800 0 L 0 0 L 0 100 Z');
  }
  50% {
    d: path('M 0 100 Q 200 150 400 200 Q 600 250 800 300 L 800 0 L 0 0 L 0 100 Z');
  }
  100% {
    d: path('M 0 100 Q 150 350 400 200 Q 650 50 800 300 L 800 0 L 0 0 L 0 100 Z');
  }
}
